body{
    font-family: 'Arvo', serif;
}

.backgroud{
height: 100vh;
background: linear-gradient(180deg, #3F958A 10%, #D9DAD9 10%);
}

.chat-wrapper{
    height: 95vh;
}

aside{
    width: 35%;
    min-width: 235px;
    background-color: white;
}

.user-button a{
    text-decoration: none;
    color: #B1B1B1;
}

#user,
#user-active{
    background-color: #EAEAEA;
}

#user img,
#user-active img{
    width: 40px;
}

#user p,
#notification p,
#user-active .last-access{
    font-size: .7rem;
}

#notification{
    background-color: #8EDAFA;
    padding: 10px 5px 10px 10px;
}

#notification .bell-rounded{
    background-color: white;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    padding-top: 8px;
}

#notification i{
    color: #8EDAFA;
}

#notification a,
#search input,
p.contact-last-message,
p.time,
p.last-access {
    color: grey;
    font-size: .6rem;
}

.notification-text,
.contact-active-info{
    padding-left: 5px;
    line-height: .8rem;
}

#search{
    background-color: #EAEAEA;
}

#search button{
    background-color: white;
    border: 1px solid lightgray;
    font-size: .7rem;
    color: grey;
}


.single-chat{
    padding:15px 10px 15px 18px;
    border-bottom: 1px solid rgb(230, 229, 229);
}

.single-chat:hover{
    background-color: lightgray;
}

.single-chat-active{
    background-color: lightgray;
}

.contact-info img{
        min-width: 42px;
        max-width: 42px;
        margin-right: 6px;
        }

.contact-info .contact-name{
    font-size: .9rem;
}

.last-message-time .time{
    padding-top: 2px;
}


main{
    width: 70%;
    border-left: 2px solid rgb(230, 229, 229);
}

main #active-chat{
    background-image: url(./img/mine.jpg);
    background-position: center;
    height: calc(100% - 112px);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

#input-chat-text{
    background-color: #F3EEEA;
    height: 56px;
}

#input-chat-text a {
    width: 10%;
    text-align: center;
    color: rgb(84, 84, 84);
}

#input-chat-text input{
    width: 80%;
    height: 50%;
}

.chat-cloud{
    border-radius: 7px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    padding: 5px 7px;
    width: fit-content;
    max-width: 300px;
}

.sent{
    background: #DAFDD4;
    margin: 0px 20px 10px auto;


}

.received{
    background: #ffffff;
    margin: 0px auto 10px 20px;
}