body{
    font-family: 'Arvo', serif;
}

.backgroud{
height: 100vh;
background: linear-gradient(180deg, rgb(21, 124, 119) 10%, rgb(200, 200, 200) 10%);
}

.chat-wrapper{
    height: 90%;
}

aside{
    width: 35%;
    min-width: 235px;
}

.user-button a{
    text-decoration: none;
    color: #B1B1B1;
}

#user{
    background-color: #EAEAEA;
}

#user img{
    width: 40px;
}

#user p,
#notification p{
    font-size: .7rem;
}

#notification{
    background-color: #8EDAFA;
    padding: 10px 5px 10px 10px;
}

#notification .bell-rounded{
    background-color: white;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    padding-top: 8px;
}

#notification i{
    color: #8EDAFA;
}

#notification a,
#search input,
p.contact-last-message,
p.time {
    color: grey;
    font-size: .6rem;
}

.notification-text{
    padding-left: 5px;
    line-height: .8rem;
}

#search{
    background-color: #EAEAEA;
}

#search button{
    background-color: white;
    border: 1px solid lightgray;
    font-size: .7rem;
    color: grey;
}

#chat-list{
    overflow: scroll;
    background-color: white;
}

.single-chat{
    margin: 6px 6px 6px 12px;
}

.contact-info img{
        min-width: 42px;
        max-width: 42px;
        margin-right: 6px;
        }

.contact-info .contact-name{
    font-size: .9rem;
}

.last-message-time .time{
    padding-top: 2px;
}


main{
    width: 70%;
}