body{
    font-family: 'Arvo', serif;
}

.backgroud{
height: 100vh;
background: linear-gradient(180deg, rgb(21, 124, 119) 10%, rgb(200, 200, 200) 10%);
}

.chat-wrapper{
    height: 90%;
}

aside{
    width: 35%;
}

#user{
    background-color: #EAEAEA;
}

#user img{
    width: 40px;
}

#user p{
    font-size: .7rem;
}

.user-button a{
    text-decoration: none;
    color: #B1B1B1;
}

main{
    width: 70%;
}